
    <div class="row">
      <div  *ngIf="pessoaRescue">
            <form>
                  <label>Nome:</label>
                  <input type="text" class="control-label form-control"
                         name="nome" [(ngModel)]="pessoaRescue.nome"
                         value="{{ pessoaRescue.nome }}"/>
                  <br>
                  <label>Função:</label>
                  <select [(ngModel)]="funcao" [ngModelOptions]="{standalone: true}">
                    <option spellcheck="true">ATOR</option>
                    <option>DIRETOR</option>
                  </select>

            </form>
      </div>
      <div class="panel-footer">
            <button *ngIf="pessoaRescue" type="submit"
                    class="btn btn-danger"
                    (click)="cancelPessoa()">Cancelar</button>
            <button *ngIf="pessoaRescue" type="submit"
                    class="btn btn-success pull-right"
                    (click)="updatePessoa(pessoaRescue)">Atualizar</button>
        </div>
   </div>
    <div class="row"  >
      <table class="table">
        <tr>
          <th>Nome</th>
          <th>Função</th>
          <th>Excluir</th>
          <th>Alterar</th>
        </tr>
        <tr ng-repeat= "pessoa in pessoas | filter: buscar ">
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.funcao }}</td>
          <td>
            <button type="button"  class="btn btn-danger"
                    (click)="deletePessoa(pessoa)">Excluir
              <span class="glyphicon glyphicon-remove"
                    aria-hidden="false" ></span>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-info"
                    (click)="editPessoa(pessoa)">Alterar
                        <span class="glyphicon glyphicon-pencil"
                              aria-hidden="false" ></span>
            </button>
          </td>
        </tr>
      </table>
      <!--BUSCAR: <input type="text" ng-model="buscar" placeholder="buscar por .."/>-->

    </div>
