<div class="row">
  <div class="col-md-4">
    <form>

      <div (click)="readPessoa()"></div>
      <div class="form-group" >
        <label for="nome">Nome:</label>
        <input  type="text" class="form-control"
                id="nome" placeholder="Nome" name="nome"
                [(ngModel)]="nome" >
      </div>
      <div class="form-group" >
        <label>Funcao:</label>
        <select [(ngModel)]="funcao" [ngModelOptions]="{standalone: true}">
          <option selected="selected">ATOR</option>
          <option>DIRETOR</option>
        </select>
      </div>
      <button class="btn btn-success" routerLink=""
              (click)="createPessoa()">Cadastrar</button>
    </form>

  </div>

</div>
